*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 { 
  background-image: url(https://giffiles.alphacoders.com/165/16561.gif); 
  background-repeat: repeat; 
  background-size: contain;
  background-position-x: left;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  margin-top: 200px;
  margin-bottom: 200px; 
  font-size: 120px; 
  text-align: center; 
  font-weight: bold; 
  text-transform: uppercase; 
  font-family: 'Steelfish Rg', 'helvetica neue', 
           helvetica, arial, sans-serif; 
  font-weight: 800; 
  -webkit-font-smoothing: antialiased; 
} 

h2 { 
  color: rgb(214, 214, 214);
}
 
Label {
  color: rgb(214, 214, 214);
}

body {
  font-family: sans-serif;
  background-image: url('https://media0.giphy.com/media/dUNcKghcYXJp5Km8LY/giphy-downsized-large.gif');
  display: block;
  background-attachment: fixed;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.card {
  background-color: hsla(0, 0%, 0%, 0.808);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
  margin-bottom: 50px;
}


.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 200px;
  text-align: left;
}

#length {
  text-align: center;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: purple;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

.checkbox {
position: right;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  background-image: url(https://media4.giphy.com/media/g6Ds4KTkPWW64/giphy.gif); 
  background-repeat: repeat; 
  background-size: contain;
  background-position-x: left;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}


card-body {
  position: right;
}

img#secret {
  position: fixed;
  width: 40px;
   height: 40px;
}